<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>be.ducis01.notiftwitch.agent.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3</string>
		<string>/Users/Nico/.stream/growlerStreams.py</string>
		<string>Duciis</string>
		<string>/Users/Nico/.stream/</string>
		<string>/usr/local/bin/terminal-notifier</string>
		<string>/usr/local/bin/livestreamer</string>
		<string>/usr/local/Cellar/mpv/0.17.0/bin/mpv</string>
	</array>
	<key>Nice</key>
	<integer>1</integer>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/notifTwitch.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/notifTwitch.out</string>
</dict>
</plist>
